.grid-1 {
  background-color: gray;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.grid-1 div {
  width: 100px;
  height: 100px;
}

.grid-1 .ett {
  background-color: antiquewhite;
}

.grid-1 .två {
  background-color: antiquewhite;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.grid-1 .tre {
  background-color: antiquewhite;
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr 3fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.item {
  background-color: rgb(112, 240, 38);
  padding: 20px;
  text-align: center;
}

.item-2 {
  background-color: rgb(62, 62, 211);
  color: white;
  font-size: 3rem;
  grid-auto-rows: 100px;
  text-align: right;
  padding-right: 15px;
}

.grid-3 {
  width: 200px;
  height: 180px;
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(10, 1fr);
  background-color: aquamarine;
}

.grid-3 div {
  /*   height: 20px;
  width: 20px; */
  background-color: red;
}

.grid-3 .ett {
  grid-row: 2 / span 1;
  grid-column: 3 / span 2;
}

.grid-3 .två {
  grid-row: 2 / 3;
  grid-column: 7 / 9;
}

.grid-3 .tre {
  grid-row: 3 / 6;
  grid-column: 2 / 10;
}

.grid-3 .fyra {
  grid-row: 6 / span 1;
  grid-column: 3 / span 6;
}

.grid-3 .fem {
  grid-row: 7 / span 1;
  grid-column: 4 / span 4;
}

.grid-3 .sex {
  grid-row: 8 / span 1;
  grid-column: 5 / span 2;
}
