.grid-1 {
  background-color: gray;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.grid-1 div {
  width: 100px;
  height: 100px;
}

.grid-1 .ett {
  background-color: antiquewhite;
}

.grid-1 .två {
  background-color: antiquewhite;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.grid-1 .tre {
  background-color: antiquewhite;
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
}
